
@model IEnumerable<Menu>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@Url.Content("~/Content/AdminLTE/dist/usr/maria.png")" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>María Ñurinda</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> En línea</a>
            </div>
        </div>

        @*<!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->*@

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="header">MENU</li>

            @foreach (var i in Model)
            {
                if (@i.nNivel == 0)
                {
                    <li><a href="@Url.Action(@i.sAction, @i.sController)"><i class="@i.sIconClass"></i> <span>@i.sDescripcion</span></a></li>
                }
                else if (@i.nNivel == 1)
                {
                    <!-- Level 1 -->
                    <li class="treeview">
                        <a href="#">
                            <i class="@i.sIconClass"></i> <span>@i.sDescripcion</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <!-- Level 2 hijos de i -->
                            @foreach (var j in Model)
                            {
                                if (j.nMenuItemPadreID == i.nMenuItemID && j.nNivel == 2)
                                {
                                    <li><a href="@Url.Action(@j.sAction, @j.sController)"><i class="@j.sIconClass"></i> <span>@j.sDescripcion</span></a></li>
                                }
                                else if (j.nMenuItemPadreID == i.nMenuItemID && j.nNivel == 3)
                                {
                                    <!-- Level 3 -->
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="@j.sIconClass"></i> <span>@j.sDescripcion</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <!-- Level 4 hijos de j -->
                                            @foreach (var k in Model)
                                            {
                                                if (k.nMenuItemPadreID == j.nMenuItemID && k.nNivel == 4)
                                                {
                                                    <li><a href="@Url.Action(@k.sAction, @k.sController)"><i class="@k.sIconClass"></i> <span>@k.sDescripcion</span></a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }


        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
