@{

    // Layout
    //Layout = "_Layout2";
    Layout = null;

}


<div id="info_paciente">
    <table border="1">
        <thead></thead>
        <tbody>
            <tr>
                <td width="200">
                    <b>No. de Expediente</b>
                </td>
                <td width="50">
                    @ViewBag.nCodigoExpediente
                </td>
                <td width="100">
                    <b>Nombre</b>
                </td>
                <td width="400">
                    @ViewBag.NombrePaciente | @ViewBag.sCedula
                </td>
                <td width="100">
                    <b>Fecha</b>
                </td>
                <td>
                    @ViewBag.dFechaOdontograma
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>


<input id="iOdi" type="hidden" value="@ViewBag.Id" />
    

    <div id="odontograma"></div>

    <script src="~/js/us/phaser.min.js"></script>
    <script src="~/js/us/webfont.js"></script>
    <script src="~/js/us/droplimit.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>



