@{

	// Layout
	Layout = "_Layout";

	// View
	View = this;
	SetupLoginStatus(); // Setup login status
	SetClientVar("login", LoginStatus);

	// Global Page Rendering event
	Page_Rendering();

	// Page Render event
	TratamientoRealizado_Delete.Page_Render();

	// Check action result
	if (TratamientoRealizado_Delete.ActionResult is EmptyResult) { // Terminate page
		return;
	}

	#pragma warning disable 168

	// Local variables (Temp data)
	string sqlWrk, filterWrk, whereWrk, curVal;
	List<Dictionary<string, object>> rswrk;
	string[] arWrk;
	List<object> listWrk;
	Func<string> lookupFilter;

	#pragma warning restore 168

}
<script>

// Form object
var CurrentPageID = ew.PAGE_ID = "delete";
var fTratamientoRealizadodelete = currentForm = new ew.Form("fTratamientoRealizadodelete", "delete");

// Form_CustomValidate event
fTratamientoRealizadodelete.Form_CustomValidate = function(fobj) { // DO NOT CHANGE THIS LINE!

	// Your custom validation code here, return false if invalid.
	return true;
}

// Use JavaScript validation or not remove PROJ.ProgramLanguage
fTratamientoRealizadodelete.validateRequired = @ConvertToJson(Config.ClientValidate);

// Dynamic selection lists
fTratamientoRealizadodelete.lists["x_nExpedienteID"] = @Html.Raw(TratamientoRealizado_Delete.nExpedienteID.Lookup.ToClientList());
fTratamientoRealizadodelete.lists["x_nExpedienteID"].options = @Html.Raw(ConvertToJson(TratamientoRealizado_Delete.nExpedienteID.LookupOptions));
fTratamientoRealizadodelete.lists["x_nEstadoID"] = @Html.Raw(TratamientoRealizado_Delete.nEstadoID.Lookup.ToClientList());
fTratamientoRealizadodelete.lists["x_nEstadoID"].options = @Html.Raw(ConvertToJson(TratamientoRealizado_Delete.nEstadoID.LookupOptions));

// Form object for search
</script>
<script>

// Write your client script here, no need to add script tags.
</script>
@TratamientoRealizado_Delete.ShowPageHeader()
@TratamientoRealizado_Delete.ShowMessages()
<form name="fTratamientoRealizadodelete" id="fTratamientoRealizadodelete" class="form-inline ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post">
@if (TratamientoRealizado_Delete.CheckToken) {
	@Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in TratamientoRealizado_Delete.RecordKeys) {
<input type="hidden" name="key_m" value="@key">
}
<div class="card ew-card ew-grid">
<div class="@(IsResponsiveLayout() ? "table-responsive " : "")card-body ew-grid-middle-panel">
<table class="table ew-table">
	<thead>
	<tr class="ew-table-header">
@if (TratamientoRealizado.nExpedienteID.Visible) { // nExpedienteID (begin)
		<th class="@Html.Raw(TratamientoRealizado.nExpedienteID.HeaderCellClass)"><span id="elh_TratamientoRealizado_nExpedienteID" class="TratamientoRealizado_nExpedienteID">@Html.Raw(TratamientoRealizado.nExpedienteID.Caption)</span></th>
} @* nExpedienteID.Visible (end) *@
@if (TratamientoRealizado.sDescripcionTratamiento.Visible) { // sDescripcionTratamiento (begin)
		<th class="@Html.Raw(TratamientoRealizado.sDescripcionTratamiento.HeaderCellClass)"><span id="elh_TratamientoRealizado_sDescripcionTratamiento" class="TratamientoRealizado_sDescripcionTratamiento">@Html.Raw(TratamientoRealizado.sDescripcionTratamiento.Caption)</span></th>
} @* sDescripcionTratamiento.Visible (end) *@
@if (TratamientoRealizado.dFechaTratamiento.Visible) { // dFechaTratamiento (begin)
		<th class="@Html.Raw(TratamientoRealizado.dFechaTratamiento.HeaderCellClass)"><span id="elh_TratamientoRealizado_dFechaTratamiento" class="TratamientoRealizado_dFechaTratamiento">@Html.Raw(TratamientoRealizado.dFechaTratamiento.Caption)</span></th>
} @* dFechaTratamiento.Visible (end) *@
@if (TratamientoRealizado.nEstadoID.Visible) { // nEstadoID (begin)
		<th class="@Html.Raw(TratamientoRealizado.nEstadoID.HeaderCellClass)"><span id="elh_TratamientoRealizado_nEstadoID" class="TratamientoRealizado_nEstadoID">@Html.Raw(TratamientoRealizado.nEstadoID.Caption)</span></th>
} @* nEstadoID.Visible (end) *@
	</tr>
	</thead>
	<tbody>
@{ TratamientoRealizado_Delete.RecordCount = 0; }
@while (TratamientoRealizado_Delete.Recordset != null && await TratamientoRealizado_Delete.Recordset.ReadAsync()) { // DN
	TratamientoRealizado_Delete.RecordCount++;
	TratamientoRealizado_Delete.RowCnt++;

	// Set row properties
	TratamientoRealizado_Delete.ResetAttributes();
	TratamientoRealizado_Delete.RowType = Config.RowTypeView; // View

	// Get the field contents
	await TratamientoRealizado_Delete.LoadRowValues(TratamientoRealizado_Delete.Recordset);

	// Render row
	await TratamientoRealizado_Delete.RenderRow();
	<tr @Html.Raw(TratamientoRealizado_Delete.RowAttributes)>
@if (TratamientoRealizado.nExpedienteID.Visible) { // nExpedienteID (begin)
		<td @Html.Raw(TratamientoRealizado.nExpedienteID.CellAttributes)>
<span id="el@(TratamientoRealizado_Delete.RowCnt)_TratamientoRealizado_nExpedienteID" class="TratamientoRealizado_nExpedienteID">
<span @Html.Raw(TratamientoRealizado.nExpedienteID.ViewAttributes)>
@Html.Raw(TratamientoRealizado.nExpedienteID.GetViewValue())</span>
</span>
</td>
} @* nExpedienteID.Visible (end) *@
@if (TratamientoRealizado.sDescripcionTratamiento.Visible) { // sDescripcionTratamiento (begin)
		<td @Html.Raw(TratamientoRealizado.sDescripcionTratamiento.CellAttributes)>
<span id="el@(TratamientoRealizado_Delete.RowCnt)_TratamientoRealizado_sDescripcionTratamiento" class="TratamientoRealizado_sDescripcionTratamiento">
<span @Html.Raw(TratamientoRealizado.sDescripcionTratamiento.ViewAttributes)>
@Html.Raw(TratamientoRealizado.sDescripcionTratamiento.GetViewValue())</span>
</span>
</td>
} @* sDescripcionTratamiento.Visible (end) *@
@if (TratamientoRealizado.dFechaTratamiento.Visible) { // dFechaTratamiento (begin)
		<td @Html.Raw(TratamientoRealizado.dFechaTratamiento.CellAttributes)>
<span id="el@(TratamientoRealizado_Delete.RowCnt)_TratamientoRealizado_dFechaTratamiento" class="TratamientoRealizado_dFechaTratamiento">
<span @Html.Raw(TratamientoRealizado.dFechaTratamiento.ViewAttributes)>
@Html.Raw(TratamientoRealizado.dFechaTratamiento.GetViewValue())</span>
</span>
</td>
} @* dFechaTratamiento.Visible (end) *@
@if (TratamientoRealizado.nEstadoID.Visible) { // nEstadoID (begin)
		<td @Html.Raw(TratamientoRealizado.nEstadoID.CellAttributes)>
<span id="el@(TratamientoRealizado_Delete.RowCnt)_TratamientoRealizado_nEstadoID" class="TratamientoRealizado_nEstadoID">
<span @Html.Raw(TratamientoRealizado.nEstadoID.ViewAttributes)>
@Html.Raw(TratamientoRealizado.nEstadoID.GetViewValue())</span>
</span>
</td>
} @* nEstadoID.Visible (end) *@
	</tr>
}
@{ TratamientoRealizado_Delete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div>
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(TratamientoRealizado_Delete.ReturnUrl)">@Language.Phrase("CancelBtn")</button>
</div>
</form>
@TratamientoRealizado_Delete.ShowPageFooter()
@ShowDebugMessage()
@ElapsedTime()
<script>

// Write your table-specific startup script here
// document.write("page loaded");

</script>
