@{

	// Layout
	Layout = "_Layout";

	// View
	View = this;
	SetupLoginStatus(); // Setup login status
	SetClientVar("login", LoginStatus);

	// Global Page Rendering event
	Page_Rendering();

	// Page Render event
	Usuario_List.Page_Render();

	// Check action result
	if (Usuario_List.ActionResult is EmptyResult) { // Terminate page
		return;
	}

	#pragma warning disable 168

	// Local variables (Temp data)
	string sqlWrk, filterWrk, whereWrk, curVal;
	List<Dictionary<string, object>> rswrk;
	string[] arWrk;
	List<object> listWrk;
	Func<string> lookupFilter;

	#pragma warning restore 168

}
@if (!Usuario.IsExport()) {
<script>

// Form object
var CurrentPageID = ew.PAGE_ID = "list";
var fUsuariolist = currentForm = new ew.Form("fUsuariolist", "list");
fUsuariolist.formKeyCountName = "@Usuario_List.FormKeyCountName";

// Form_CustomValidate event
fUsuariolist.Form_CustomValidate = function(fobj) { // DO NOT CHANGE THIS LINE!

	// Your custom validation code here, return false if invalid.
	return true;
}

// Use JavaScript validation or not remove PROJ.ProgramLanguage
fUsuariolist.validateRequired = @ConvertToJson(Config.ClientValidate);

// Dynamic selection lists
fUsuariolist.lists["x_nActivo"] = @Html.Raw(Usuario_List.nActivo.Lookup.ToClientList());
fUsuariolist.lists["x_nActivo"].options = @Html.Raw(ConvertToJson(Usuario_List.nActivo.Options(false))); // DN

// Form object for search
var fUsuariolistsrch = currentSearchForm = new ew.Form("fUsuariolistsrch");

// Filters
fUsuariolistsrch.filterList = @Html.Raw(await Usuario_List.GetFilterList());
</script>
<script>

// Write your client script here, no need to add script tags.
</script>
}
@if (!Usuario.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (Usuario_List.TotalRecords > 0 && Usuario_List.ExportOptions.Visible) {
	Usuario_List.ExportOptions.Render("body");
}
@if (Usuario_List.ImportOptions.Visible) {
	Usuario_List.ImportOptions.Render("body");
}
@if (Usuario_List.SearchOptions.Visible) {
	Usuario_List.SearchOptions.Render("body");
}
@if (Usuario_List.FilterOptions.Visible) {
	Usuario_List.FilterOptions.Render("body");
}
<div class="clearfix"></div>
</div>
}
@{ Usuario_List.RenderOtherOptions(); }
@if (Security.CanSearch) {
if (!Usuario_List.IsExport() && Empty(Usuario_List.CurrentAction)) { // Begin search form
<form name="fUsuariolistsrch" id="fUsuariolistsrch" class="form-inline ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())">
<div id="fUsuariolistsrch-search-panel" class="ew-search-panel collapse@(!Empty(Usuario_List.SearchWhere) ? " show" : " show")">
<input type="hidden" name="cmd" value="search">
<div class="ew-basic-search">
<div id="xsr_1" class="ew-row d-sm-flex">
	<div class="ew-quick-search input-group">
	<input type="text" name="@Config.TableBasicSearch" id="@Config.TableBasicSearch" class="form-control" value="@Usuario_List.BasicSearch.SessionKeyword" placeholder="@Language.Phrase("Search")">
	<input type="hidden" name="@Config.TableBasicSearchType" id="@Config.TableBasicSearchType" value="@Usuario_List.BasicSearch.SessionType">
	<div class="input-group-append">
		<button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
		<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false"><span id="searchtype">@Html.Raw(Usuario_List.BasicSearch.TypeNameShort)</span></button>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item @((Usuario_List.BasicSearch.SessionType == "") ? " active" : "")" href="javascript:void(0);" onclick="ew.setSearchType(this)">@Html.Raw(Language.Phrase("QuickSearchAuto"))</a>
			<a class="dropdown-item @((Usuario_List.BasicSearch.SessionType == "=") ? "active" : "")" href="javascript:void(0);" onclick="ew.setSearchType(this,'=')">@Html.Raw(Language.Phrase("QuickSearchExact"))</a>
			<a class="dropdown-item @((Usuario_List.BasicSearch.SessionType == "AND") ? "active" : "")" href="javascript:void(0);" onclick="ew.setSearchType(this,'AND')">@Html.Raw(Language.Phrase("QuickSearchAll"))</a>
			<a class="dropdown-item @((Usuario_List.BasicSearch.SessionType == "OR") ? "active" : "")" href="javascript:void(0);" onclick="ew.setSearchType(this,'OR')">@Html.Raw(Language.Phrase("QuickSearchAny"))</a>
		</div>
	</div>
	</div>
</div>
</div>
</div>
</form>
} @* End search form *@
}
@Usuario_List.ShowPageHeader()
@Usuario_List.ShowMessages()
@if (Usuario_List.TotalRecords > 0 || Usuario_List.CurrentAction != "") {
<div class="card ew-card ew-grid@(Usuario_List.IsAddOrEdit ? " ew-grid-add-edit" : "") Usuario">
<form name="fUsuariolist" id="fUsuariolist" class="form-inline ew-form ew-list-form" action="@AppPath(CurrentPageName())" method="post">
@if (Usuario_List.CheckToken) {
	@Html.AntiForgeryToken()
}
<div id="gmp_Usuario" class="@(IsResponsiveLayout() ? "table-responsive " : "")card-body ew-grid-middle-panel">
@if (Usuario_List.TotalRecords > 0 || Usuario.IsGridEdit) { // Begin If TotalRecords > 0
<table id="tbl_Usuariolist" class="table ew-table"><!-- .ew-table -->
<thead>
	<tr class="ew-table-header">
@{

	// Header row
	Usuario_List.RowType = Config.RowTypeHeader;

	// Render list options
	await Usuario_List.RenderListOptions();

	// Render list options (header, left)
	Usuario_List.ListOptions.Render("header", "left");
}
@if (Usuario.nUsuarioId.Visible) { // nUsuarioId.Visible (begin)
	if (Usuario_List.SortUrl(Usuario.nUsuarioId) == "") {
		<th data-name="nUsuarioId" class="@Usuario.nUsuarioId.HeaderCellClass"><div id="elh_Usuario_nUsuarioId" class="Usuario_nUsuarioId"><div class="ew-table-header-caption">@Html.Raw(Usuario.nUsuarioId.Caption)</div></div></th>
	} else {
		<th data-name="nUsuarioId" class="@Usuario.nUsuarioId.HeaderCellClass"><div class="ew-pointer" onclick="ew.sort(event,'@Html.Raw(Usuario.SortUrl(Usuario.nUsuarioId))',1);"><div id="elh_Usuario_nUsuarioId" class="Usuario_nUsuarioId">
			<div class="ew-table-header-btn"><span class="ew-table-header-caption">@Html.Raw(Usuario.nUsuarioId.Caption)</span><span class="ew-table-header-sort">@if (Usuario.nUsuarioId.Sort == "ASC") {<i class="fa fa-sort-up"></i>} else if (Usuario.nUsuarioId.Sort == "DESC") {<i class="fa fa-sort-down"></i>}</span></div>
		</div></div></th>
	}
} @* nUsuarioId.Visible (end) *@
@if (Usuario.sEmail.Visible) { // sEmail.Visible (begin)
	if (Usuario_List.SortUrl(Usuario.sEmail) == "") {
		<th data-name="sEmail" class="@Usuario.sEmail.HeaderCellClass"><div id="elh_Usuario_sEmail" class="Usuario_sEmail"><div class="ew-table-header-caption">@Html.Raw(Usuario.sEmail.Caption)</div></div></th>
	} else {
		<th data-name="sEmail" class="@Usuario.sEmail.HeaderCellClass"><div class="ew-pointer" onclick="ew.sort(event,'@Html.Raw(Usuario.SortUrl(Usuario.sEmail))',1);"><div id="elh_Usuario_sEmail" class="Usuario_sEmail">
			<div class="ew-table-header-btn"><span class="ew-table-header-caption">@Html.Raw(Usuario.sEmail.Caption)@Html.Raw(Language.Phrase("SrchLegend"))</span><span class="ew-table-header-sort">@if (Usuario.sEmail.Sort == "ASC") {<i class="fa fa-sort-up"></i>} else if (Usuario.sEmail.Sort == "DESC") {<i class="fa fa-sort-down"></i>}</span></div>
		</div></div></th>
	}
} @* sEmail.Visible (end) *@
@if (Usuario.sUserName.Visible) { // sUserName.Visible (begin)
	if (Usuario_List.SortUrl(Usuario.sUserName) == "") {
		<th data-name="sUserName" class="@Usuario.sUserName.HeaderCellClass"><div id="elh_Usuario_sUserName" class="Usuario_sUserName"><div class="ew-table-header-caption">@Html.Raw(Usuario.sUserName.Caption)</div></div></th>
	} else {
		<th data-name="sUserName" class="@Usuario.sUserName.HeaderCellClass"><div class="ew-pointer" onclick="ew.sort(event,'@Html.Raw(Usuario.SortUrl(Usuario.sUserName))',1);"><div id="elh_Usuario_sUserName" class="Usuario_sUserName">
			<div class="ew-table-header-btn"><span class="ew-table-header-caption">@Html.Raw(Usuario.sUserName.Caption)@Html.Raw(Language.Phrase("SrchLegend"))</span><span class="ew-table-header-sort">@if (Usuario.sUserName.Sort == "ASC") {<i class="fa fa-sort-up"></i>} else if (Usuario.sUserName.Sort == "DESC") {<i class="fa fa-sort-down"></i>}</span></div>
		</div></div></th>
	}
} @* sUserName.Visible (end) *@
@if (Usuario.nActivo.Visible) { // nActivo.Visible (begin)
	if (Usuario_List.SortUrl(Usuario.nActivo) == "") {
		<th data-name="nActivo" class="@Usuario.nActivo.HeaderCellClass"><div id="elh_Usuario_nActivo" class="Usuario_nActivo"><div class="ew-table-header-caption">@Html.Raw(Usuario.nActivo.Caption)</div></div></th>
	} else {
		<th data-name="nActivo" class="@Usuario.nActivo.HeaderCellClass"><div class="ew-pointer" onclick="ew.sort(event,'@Html.Raw(Usuario.SortUrl(Usuario.nActivo))',1);"><div id="elh_Usuario_nActivo" class="Usuario_nActivo">
			<div class="ew-table-header-btn"><span class="ew-table-header-caption">@Html.Raw(Usuario.nActivo.Caption)</span><span class="ew-table-header-sort">@if (Usuario.nActivo.Sort == "ASC") {<i class="fa fa-sort-up"></i>} else if (Usuario.nActivo.Sort == "DESC") {<i class="fa fa-sort-down"></i>}</span></div>
		</div></div></th>
	}
} @* nActivo.Visible (end) *@
@{

	// Render list options (header, right)
	Usuario_List.ListOptions.Render("header", "right");
}
	</tr>
</thead>
<tbody>
@{ // Begin Code
if (Usuario_List.ExportAll && Usuario_List.IsExport()) {
	Usuario_List.StopRecord = Usuario_List.TotalRecords;
} else {

	// Set the last record to display
	if (Usuario_List.TotalRecords > Usuario_List.StartRecord + Usuario_List.DisplayRecords - 1) {
		Usuario_List.StopRecord = Usuario_List.StartRecord + Usuario_List.DisplayRecords - 1;
	} else {
		Usuario_List.StopRecord = Usuario_List.TotalRecords;
	}
}
if (Usuario_List.Recordset != null && Usuario_List.Recordset.HasRows) {
	if (!Usuario_List.Connection.SelectOffset) { // DN
		for (var i = 1; i <= Usuario_List.StartRecord - 1; i++) { // Move to first record
			if (await Usuario_List.Recordset.ReadAsync()) {
				Usuario_List.RecordCount++;
			}
		}
	} else {
		Usuario_List.RecordCount = Usuario_List.StartRecord - 1;
	}
} else if (!Usuario_List.AllowAddDeleteRow && Usuario_List.StopRecord == 0) {
	Usuario_List.StopRecord = Usuario_List.GridAddRowCount;
}

// Initialize aggregate
Usuario_List.RowType = Config.RowTypeAggregateInit;
Usuario_List.ResetAttributes();
await Usuario_List.RenderRow();

// Output data rows
bool eof = (Usuario_List.Recordset == null); // DN
while (Usuario_List.RecordCount < Usuario_List.StopRecord) { // Begin While
	if (!Usuario_List.IsGridAdd && !eof) { // DN
		eof = !await Usuario_List.Recordset.ReadAsync();
	}
	Usuario_List.RecordCount++;
	if (Usuario_List.RecordCount >= Usuario_List.StartRecord) {
		Usuario_List.RowCnt++;

		// Set up key count
		Usuario_List.KeyCount = ConvertToInt(Usuario_List.RowIndex);

		// Init row class and style
		Usuario_List.ResetAttributes();
		Usuario_List.CssClass = "";
		if (Usuario_List.IsGridAdd) {
		} else {
			await Usuario_List.LoadRowValues(Usuario_List.Recordset); // Load row values
		}
		Usuario_List.RowType = Config.RowTypeView; // Render view

		// Set up row id / data-rowindex
		Usuario_List.RowAttrs.Add("data-rowindex", Convert.ToString(Usuario_List.RowCnt));
		Usuario_List.RowAttrs.Add("id", "r" + Convert.ToString(Usuario_List.RowCnt) + "_Usuario");
		Usuario_List.RowAttrs.Add("data-rowtype", Convert.ToString(Usuario_List.RowType));

		// Render row
		await Usuario_List.RenderRow();

		// Render list options
		await Usuario_List.RenderListOptions();
	<tr @Html.Raw(Usuario_List.RowAttributes)>
	@{

		// Render list options (body, left)
		Usuario_List.ListOptions.Render("body", "left", Usuario_List.RowCnt);
	}
	@if (Usuario.nUsuarioId.Visible) { // nUsuarioId.Visible (begin)
		<td data-name="nUsuarioId"@Html.Raw(Usuario.nUsuarioId.CellAttributes)>
<span id="el@(Usuario_List.RowCnt)_Usuario_nUsuarioId" class="Usuario_nUsuarioId">
<span @Html.Raw(Usuario.nUsuarioId.ViewAttributes)>
@Html.Raw(Usuario.nUsuarioId.GetViewValue())</span>
</span>
</td>
	} @* nUsuarioId.Visible (end) *@
	@if (Usuario.sEmail.Visible) { // sEmail.Visible (begin)
		<td data-name="sEmail"@Html.Raw(Usuario.sEmail.CellAttributes)>
<span id="el@(Usuario_List.RowCnt)_Usuario_sEmail" class="Usuario_sEmail">
<span @Html.Raw(Usuario.sEmail.ViewAttributes)>
@Html.Raw(Usuario.sEmail.GetViewValue())</span>
</span>
</td>
	} @* sEmail.Visible (end) *@
	@if (Usuario.sUserName.Visible) { // sUserName.Visible (begin)
		<td data-name="sUserName"@Html.Raw(Usuario.sUserName.CellAttributes)>
<span id="el@(Usuario_List.RowCnt)_Usuario_sUserName" class="Usuario_sUserName">
<span @Html.Raw(Usuario.sUserName.ViewAttributes)>
@Html.Raw(Usuario.sUserName.GetViewValue())</span>
</span>
</td>
	} @* sUserName.Visible (end) *@
	@if (Usuario.nActivo.Visible) { // nActivo.Visible (begin)
		<td data-name="nActivo"@Html.Raw(Usuario.nActivo.CellAttributes)>
<span id="el@(Usuario_List.RowCnt)_Usuario_nActivo" class="Usuario_nActivo">
<span @Html.Raw(Usuario.nActivo.ViewAttributes)>
<input type="checkbox" value="@Usuario.nActivo.GetViewValue()" disabled checked="@ConvertToBool(Usuario.nActivo.CurrentValue)"></span>
</span>
</td>
	} @* nActivo.Visible (end) *@
	@{

		// Render list options (body, right)
		Usuario_List.ListOptions.Render("body", "right", Usuario_List.RowCnt);
	}
	</tr>
	} @* End if *@
} @* End While *@
} @* End Code *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
@if (Empty(Usuario_List.CurrentAction)) {
<input type="hidden" name="action" id="action" value="">
}
</div><!-- /.ew-grid-middle-panel -->
</form><!-- /.ew-list-form -->
@{ Usuario_List.CloseRecordset(); }
		@if (!Usuario.IsExport()) {
		<div class="card-footer ew-grid-lower-panel">
		@if (!Usuario_List.IsGridAdd) {
			<form name="ew-pager-form" class="form-inline ew-form ew-pager-form" action="@AppPath(CurrentPageName())">
			@Usuario_List.Pager.Render()
			</form>
		}
		<div class="ew-list-other-options">
		@Usuario_List.OtherOptions.RenderBody("bottom")
		</div>
		<div class="clearfix"></div>
		</div>
		}
</div><!-- /.ew-grid -->
}
@if (Usuario_List.TotalRecords <= 0 && Usuario_List.CurrentAction == "") { // Show other options
<div class="ew-list-other-options">
@Usuario_List.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
<div class="clearfix"></div>
}
@Usuario_List.ShowPageFooter()
@ShowDebugMessage()
@ElapsedTime()
@if (!Usuario.IsExport()) {
<script>

// Write your table-specific startup script here
// document.write("page loaded");

</script>
}
